{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}
{% block navbar %}
{% endblock %}
{% block body %}
<style>
    body{
        background-image: linear-gradient(180deg, #0D0F27,#272C6D);
        height:100vh;
    }
</style>

<div class="example-wrapper">
    <a href="{{ path('forum') }}"><h1 class="has-text-centered is-size-1 has-text-white has-text-weight-bold">Forum</h1></a>
    <h2 style="text-align: center; color:whitesmoke; font-size: 48px;">Sign Up</h2>
    {{ form_start(regForm) }}

    <div class="field">
        {{ form_errors(regForm.email) }}
        <div class="control">
            {{ form_widget(regForm.email) }}
        </div>
    </div>

    <div class="field">
        {{ form_errors(regForm.password) }}
        <div class="control">
            {{ form_widget(regForm.password) }}
        </div>
    </div>

    <div class="field">
        <div class="control">
            {{ form_widget(regForm.password2) }}
        </div>
    </div>

    <div class="field">
        <div class="control is-rounded">
            <label class="checkbox label">
                <input type="checkbox" name="agreed">
                <a href="#"><u>I agree to the terms and conditions</u></a>
            </label>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button type="submit" class="is-rounded button is-light is-outlined" style="width:100%">Register</button>
        </div>
    </div>


    <div class="field">
        <div class="control has-text-centered">
            <a href="{{ path('sec_login') }}" class="is-text has-text-white" style="width:100%"><u>Sign In</u></a>
        </div>
    </div>

    {{ form_end(regForm) }}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sec_register') }}
{% endblock %}