{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}
{% block navbar %}
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 300px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px;}
    body{
        background-image: linear-gradient(180deg, #0e301a,#00b89c);
        min-height: 768px;
    }
    label{
        color:whitesmoke !important;
    }
</style>

<div class="example-wrapper">
    <a href="/"><h1 style="text-align: center; color:whitesmoke; font-size: 60px;">Forum</h1></a>
    <h2 style="text-align: center; color:whitesmoke; font-size: 48px;">Sign Up</h2>
    {{ form_start(regForm) }}

    <div class="field">
        {{ form_errors(regForm.email) }}
        <div class="control">
            {{ form_widget(regForm.email) }}
        </div>
    </div>

    <div class="field">
        {{ form_errors(regForm.password) }}
        <div class="control">
            {{ form_widget(regForm.password) }}
        </div>
    </div>

    <div class="field">
        <div class="control">
            {{ form_widget(regForm.password2) }}
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="checkbox label">
                <input type="checkbox" name="agreed">
                I agree to the <a href="#">terms and conditions</a>
            </label>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button type="submit" class="button is-link" style="width:100%">Register</button>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <a href="{{ path('sec_login') }}" class="button is-text" style="width:100%">Sign In</a>
        </div>
    </div>

    {{ form_end(regForm) }}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sec_register') }}
{% endblock %}