{% extends 'base.html.twig' %}

{% block title %}
Forum | {{ selected_category }}
{% endblock %}

{% block body %}
    <div class="dropdown is-hoverable mt-3 is-flex-mobile is-hidden-desktop">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                <span class="has-text-grey-light is-size-7 has-text-centered-mobile">Categories</span>
                <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
                <div class="dropdown-item">
                    <div class="columns is-multiline">
                        {% for category in categories %}
                            {% if selected_category == category.name %}
                                <div class="column is-12 mb-2 category-item has-background-grey-lighter">
                            {% else %}
                                <div class="column is-12 mb-2 category-item ">
                            {% endif %}
                                    <a href="{{ path('forum',{category:category.name}) }}">
                                        <div class="columns is-mobile">
                                            <div class="column is-2">
                                                <figure class="image is-24x24">
                                                    <img style="height: 25px" src="{{ category.imageFilename }}">
                                                </figure>
                                            </div>
                                            <div class="column">
                                        <span class="has-text-weight-semibold has-text-primary is-size-7">
                                            {{ category.name }}
                                        </span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Home page body -->
    <div class="columns hompage-margin-top">
        {#Homepage side component#}
        <div class="column is-one-fifth is-hidden-touch">
            <div class="columns is-gapless is-mobile is-multiline">
                <div class="column is-12">
                    <span class="has-text-grey-light is-size-5-desktop is-size-6-tablet has-text-centered-mobile">
                        Categories
                    </span>
                    {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('category_create',{category:selected_category} ) }}" class="button is-dark is-outlined is-small is-pulled-right has-text-weight-bold">
                        <i class="fa fa-plus"></i> Add
                    </a>
                    {% endif %}
                </div>

                {% for category in categories %}
                    {% if selected_category == category.name %}
                <div class="column is-12 mb-2 category-item has-background-grey-lighter">
                    {% else %}
                <div class="column is-12 mb-2 category-item">
                    {% endif %}
                    <a href="{{ path('forum',{category:category.name}) }}">
                        <div class="columns is-mobile">
                            <div class="column is-3">
                                <figure class="image is-48x48 has-background-grey-dark"><img style="height: 100%" src="{{ category.imageFilename }}"></figure>
                            </div>
                            <div class="column">
                                <span class="has-text-weight-semibold has-text-primary is-size-5-desktop is-size-6-tablet has-text-centered-mobile">
                                    {{ category.name }}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        {#Forum Component#}
        <div class="column">
            <div class="columns is-multiline is-centered">
                <div class="column is-2">
                    <div class="level is-mobile is-hidden-tablet">
                        <div class="level-item has-text-centered">
                            <figure class="image is-128x128">
                                <img style="height: 120px;" src="{{ selected_category_image }}">
                            </figure>
                        </div>
                    </div>
                    <figure class="image is-128x128 is-hidden-mobile">
                        <img style="height: 120px;" src="{{ selected_category_image }}">
                    </figure>
                </div>
                <div class="column">
                    <div class="columns is-multiline has-text-centered-mobile">
                        <div class="column is-12">
                            <span class="has-text-weight-bold has-text-dark is-size-2-tablet is-size-4-mobile">
                                {{ selected_category }}
                            </span>
                            <br>
                            <span class="has-text-grey-light has-text-weight-semibold is-size-5">
                                Fresh, Trending
                            </span>
                        </div>
                    </div>
                </div>
                <div class="column is-12 is-paddingless">
                    <hr>
                </div>
                {% block thread %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
