{% extends 'base/__header.html.twig' %}
{% block thread %}
    <div class="column is-12">
        <span class="has-text-primary has-text-weight-semibold">{{ threads.subject }}</span>
    </div>
    <div class="column is-12 has-background-primary mr-5 ml-5 p-5 mb-5">
        <div class="columns is-mobile">
            <div class="column is-1-desktop is-1-tablet is-2-mobile">
                <figure class="image is-64x64 has-background-grey-lighter">
                    <img src="https://robohash.org/{{ threads.author.email }}?size=64x64">
                </figure>
            </div>
            <div class="column has-text-white">
                <div>
                    <span class="has-text-weight-bold">{{ threads.author.email }}</span> <small>({{ threads.createdAt|ago }})</small>
                </div>
                <div class="has-background-grey-lighter">
                    <p class="has-text-dark p-5">
                        {{ threads.content }}
                    </p>
                </div>
            </div>
        </div>
        <hr>
        {% for reply in threads.replies %}
        <div class="columns is-mobile">
            <div class="column is-1-desktop is-1-tablet is-2-mobile">
                <figure class="image is-64x64 has-background-grey-lighter">
                    <img src="https://robohash.org/{{ reply.author }}?size=64x64">
                </figure>
            </div>
            <div class="column has-text-white">
                <div>
                    <span class="has-text-weight-bold">{{ reply.author }}</span> <small>({{ reply.createdAt|ago }})</small>
                </div>
                <div class="has-background-grey-lighter">
                    <p class="has-text-dark p-5">
                        {{ reply.content }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}