{% extends 'base/__header.html.twig' %}
{% block thread %}

    <div class="column is-12">
        <div class="columns is-mobile">
            <div class="column is-6">
                <span class="has-text-primary has-text-weight-semibold is-size-5-desktop is-size-6-mobile">Topic</span>
            </div>
            <div class="column is-3 has-text-centered">
                            <span class="has-text-primary has-text-weight-semibold is-size-5-desktop is-size-6-mobile">
                                Replies
                            </span>
            </div>
            <div class="column is-3">
                <span class="has-text-primary has-text-weight-semibold is-size-5-desktop is-size-6-mobile">Author</span>
            </div>
        </div>
    </div>
    {% for thread in threads %}
        <div class="column is-12 box mr-5 ml5">
            <div class="columns is-mobile">
                <div class="column is-6">
                    <a href="#">
                                    <span class="has-text-dark has-text-weight-semibold is-size-6-desktop is-size-7-mobile">
                                        {{ thread.subject }}
                                    </span>
                    </a>
                    <br>
                    <span class="has-text-grey-light is-size-6-desktop is-size-7-mobile">
                                    {{ thread.content }}
                                </span>
                </div>

                <div class="column is-3 has-text-centered">
                                <span class="has-text-primary has-text-weight-semibold is-size-5-desktop is-size-6-mobile">
                                    {{ thread.replies|length }}
                                </span>
                </div>

                <div class="column is-3">
                    <div class="columns is-mobile">
                        <div class="column is-3-tablet is-5-mobile">
                            <figure class="image is-48x48"><img src="https://robohash.org/{{ thread.author.email }}?size=32x32"></figure>
                        </div>
                        <div class="column">
                                    <span class="has-text-weight-semibold has-text-dark is-size-5-desktop is-size-7-mobile">
                                        {{ thread.author.email }}
                                    </span>
                            <br>
                            <small class="has-text-grey-light is-size-7">
                                {{ thread.createdAt|ago }}</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}
    <div class="column is-12">
        <nav class="pagination is-rounded is-centered" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}