{% extends 'base/__header.html.twig' %}
{% block thread %}
    <div class="column is-12 ml-5 mr-5">
        <div class="columns is-mobile">
            <div class="column is-6">
                <h1 class="has-text-weight-bold is-size-4">Threads ({{ threads.getTotalItemCount  }})</h1>
            </div>
            <div class="column is-6">
                <form>
                    <div class="field has-addons is-pulled-right">
                        <div class="control">
                            <input class="input" name="q" type="text" placeholder="Search..." value="{{ app.request.query.get('q') }}">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-info">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-5">
                <span class="has-text-primary has-text-weight-semibold is-size-5-desktop is-size-6-mobile">Topic</span>
            </div>
            <div class="column is-3 has-text-centered">
                            <span class="has-text-primary has-text-weight-semibold is-size-5-desktop is-size-6-mobile">
                                Replies
                            </span>
            </div>
            <div class="column is-4">
                <span class="has-text-primary has-text-weight-semibold is-size-5-desktop is-size-6-mobile">Author</span>
            </div>
        </div>
    </div>
    {% for thread in threads %}
        <div class="column is-12 box mr-5 ml-5">
            <div class="columns is-mobile">
                <div class="column is-5-desktop">
                    <a href="{{ path('forum_content', {slug: thread.subject}) }}">
                                    <span class="has-text-dark has-text-weight-semibold is-size-6-desktop is-size-7-mobile">
                                        {{ thread.subject }}
                                    </span>
                    </a>
                    <br>
                    <span class="has-text-grey-light is-size-6-desktop is-size-7-mobile">
                                    {{ thread.content }}
                                </span>
                </div>

                <div class="column is-3-desktop has-text-centered">
                                <span class="has-text-primary has-text-weight-semibold is-size-5-desktop is-size-6-mobile">
                                    {{ thread.replies|length }}
                                </span>
                </div>

                <div class="column is-4-desktop">
                    <div class="columns is-mobile">
                        <div class="column is-3-tablet is-5-mobile">
                            <figure class="image is-48x48"><img src="https://robohash.org/{{ thread.author.email }}?size=32x32&set=set5"></figure>
                        </div>
                        <div class="column">
                                    <span class="has-text-weight-semibold has-text-dark is-size-5-desktop is-size-7-mobile">
                                        {{ thread.author.email }}
                                    </span>
                            <br>
                            <small class="has-text-grey-light is-size-7">
                                {{ thread.createdAt|ago }}</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% else %}
        <div class="column is-12 has-text-centered mt-5 mb-5 notification ml-5 mr-5">
            No thread found
        </div>
    {% endfor %}
    <div class="column is-12">
        {{ knp_pagination_render(threads) }}
    </div>
{% endblock %}