<nav class="navbar columns">
    <div class="container">
        <div class="column is-12">
            <div class="is-pulled-left">
                <a class="navbar-item is-size-3-desktop is-size-4-tablet is-size-5-mobile is-marginless has-text-weight-semibold" href="{{ path('forum',{category:'0'}) }}">
                    FORUM
                </a>
            </div>
            <div class="is-pulled-right">
                <div class="navbar-end">
                    {% if is_granted('ROLE_USER') %}
                        <div class="columns is-mobile is-hidden-touch mr-5">
                            <div class="column">
                                <figure class="is-rounded image is-48x48  mt-3">
                                    <img class="is-rounded has-background-black-ter"  src="https://robohash.org/{{ app.user.username }}?size=48x48">
                                </figure>
                            </div>
                            <div class="column mt-4 navbar-item is-size-5-desktop is-size-7-tablet">
                                {{ app.user.username }}
                            </div>
                        </div>
                        <a class="button mt-3 mb-3 is-outlined is-light is-size-6-desktop is-size-6-tablet is-size-7-mobile" href="{{ path('app_logout') }}">Logout</a>
                    {% else %}
                        <a class="navbar-item is-size-3-desktop is-size-4-tablet is-size-5-mobile" href="{{ path('sec_login') }}">Sign In</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>